* {
  padding: 0;
  margin: 0;
  border: 0;
}
.fixed::after {
  clear: both;
  content: '';
  display: block;
}
a {
  text-decoration: none;
  color: #666;
}
li {
  list-style: none;
}
input {
  outline: none;
  background-color: #fff;
}
[type="button"] {
  cursor: pointer;
}
.fLeft {
  float: left;
}
.fRight {
  float: right;
}
h3.active {
  color: #3eede7;
  border-bottom: 2px solid brown;
}

html,body,#app {
  font-size: 16px;
}