.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .sidebar {
        width: 15%;
    }
    .article {
        width: 50%;
        height: 300px;
        margin: 0 20px;
        background-color: lightgreen;
        padding: 20px;
    }
    .login-window {
        width: 30%;
        height: 500px;
        background-color: lightblue;
        padding: 20px;
    }
}