.content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1500px;
    margin: 0 auto;
    justify-content: space-between;
    .sidebar {
        position: fixed;
        // left: 20px;
        width: 260px;
    }
    .article {
        width: 50%;
        height: 1200px;
        margin: 0 20px;
        margin-left: 280px;
        padding: 20px 20px 0;
    }
    .login-window {
        width: 25%;
        height: 500px;
        padding: 20px;
    }
}